{% extends "base.html" %}

{% block content %}
<h1>Library Books</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.status }}</td>
        <td>
            {% if book.status == 'available' %}
            <a href="/borrow/{{ book.id }}">Borrow</a>
            {% else %}
            <a href="/return/{{ book.id }}">Return</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %} 